body{
    background: white;
}


header {
    background:rgb(0,0,0);
    width: 100%;
    margin: 0px;
    position: fixed;
    z-index: 5px;
    display: flex;
    justify-content:space-between;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav ul li a {
    display: block; 
    padding: 20px;
    color: whitesmoke;
    text-decoration: none;
}

nav ul {
    list-style: none;
    overflow: hidden; 
  }

  nav ul li:hover {
    background: #800040;
}

nav ul li {
    float: right;
}
