@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto Mono', monospace;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.icon-embed2 {
    width: 1.25em;
}


header {
    background: rgb(0, 0, 0);
    width: auto ;
    margin: 0px;
    z-index: 1px;
    display: flex;
    justify-content: space-between;

}
