@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  font-family: 'Roboto Mono', monospace;
}

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-embed2 {
  width: 1.25em;
}

.icon_2 {
  display: inline-block;
  width: 25px;
  height: 25px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

header {
  width: 100%;
  height: 450px;
  background: #5b4ebc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(241, 219, 210, 0.459), rgb(241, 219, 210, 0.259)), url(../img/arq.JPG);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(241, 219, 210, 0.659), rgb(241, 219, 210, 0.259)), url(../img/arq.JPG);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

nav{
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a{
  color:#fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}



header .textos-header{
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1{
  font-size: 50px;
  color:#fff;
}

.textos-header h2{
  font-size: 30px;
  font-weight: 300;
  color:#fff;
}

.wave{
  position: absolute;
  bottom: 0;
  width: 100%;
}

em {
  position: static;
  margin: auto;
}

.queso {
  grid-column: 1/5;
  grid-row: 1/2;
}

.container {
  display: grid;
  grid-template-columns: minmax(auto, auto) 1fr;
  grid-template-rows: 100px auto 100px;
  max-width: 90%;

  margin: auto;
  line-height: 27px;
}

.container > * {
  min-height: 100px;
  min-width: 300px;
  padding: 1rem;
  margin-top: 30px;
}


h1 {
  width:500px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  background: rgb(241, 219, 210);
  line-height: 27px;
  margin: 0.3em;
}

h3{
  line-height: 50px;
}

.ventajas {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-right: 10px;
  margin-block-start: 4rem;
  
}

.index {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-block-start: 4rem;
}

.index h2 p {
margin-top: 30px;
  
}

a{
  color: black;
}

.card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
  margin: 30px;
}

footer{
  background: rgb(241, 219, 210);
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: rgb(0, 0, 0);
  border-bottom: 3px solid #000000;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: rgb(0, 0, 0);
}