* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 250px;
	background: rgb(241, 219, 210);
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to right, rgb(241, 219, 210), rgb(241, 219, 210));
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, rgb(241, 219, 210), rgb(241, 219, 210));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.wave{
	position: absolute;
	bottom: 0;
	width: 100%;
}

body {
    color: rgb(55, 53, 47);
    font-family: 'Roboto Mono', monospace;
}

.page-title {
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.75em;
    width:500px;
  	margin: 0 auto;
  	text-align: center;
}

.margen{

	display: flex;
	justify-content: space-around;
	margin-top: 40px;

}





footer{
	background: color 0;
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;

}

.icon {

	display: inline-block;
	width: 2.5em;
	height: 2.5em;
	stroke-width: 5;
	stroke: currentColor;
	fill: currentColor;
}

.icon2 {
	display: inline-block;
	width: 6em;
	height: 6em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	margin-left: 20px;
}
.icon-Printer {
	width: 2em;
}

.icon3 {
	display: inline-block;
	width: 6em;
	height: 6em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
	margin-left: 20px;
}
  .icon-back-printer {
	width: 2em;
}
.icono1{
	margin-top: -3px;

}
.back figure{
	position:relative;
	margin-top: -18px;
	cursor: pointer;
	overflow: hidden;
	max-width: 50px;
	max-height: 100px;
}
.back figure .icono1{
	transition: all 400ms ease-out;
	will-change: transform;
	
}
.back figure .capa{
	position: absolute;
	top: -30px;
	background: rgb(241, 219, 210);
	transition: all 400ms ease-out;
	opacity: 0;
	visibility: hidden;
	max-height: 50px;
}
.back figure:hover > .capa {
	opacity: 1;
	visibility: visible;
	
}
.back figure:hover > .icono3{
	transform: scale(1.3);
}
.back figure .capa svg{
	color: #fff;
	font-weight: 400;
	margin-bottom: 0px;
	transition: all 400ms ease-out;
	margin-top: 50px;
	background: rgb(241, 219, 210);
	max-height:50px ;
}