


html,
body {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	white-space: pre-wrap;
    margin: 2em auto;
    max-width: 900px;
    color: rgb(55, 53, 47);
    font-family: 'Roboto Mono', monospace;
}



h1,
h2,
h3 {
	letter-spacing: -0.01em;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 0;
}

.page-title {
	font-size: 2.5rem;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 0.75em;
    width:500px;
  margin: 0 auto;
  text-align: center;
}

h1 {
	font-size: 1.875rem;
	margin-top: 1.875rem;
    
}

h2 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

h3 {
	font-size: 1.25rem;
	margin-top: 1.25rem;
}



img {
	max-width: 100%;
}

@media only print {
	img {
		max-height: 100vh;
		object-fit: contain;
	}
}

@page {
	margin: 1in;
}



p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
